name: Run Tests with Allure Report

on:
  push:
    branches: [ main ]  
  pull_request:
    branches: [ main ]  
  workflow_dispatch:   

jobs:
  test:
    runs-on: ubuntu-latest  
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'  
        
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        
    - name: Install Allure CLI
      run: |
        wget https://github.com/allure-framework/allure2/releases/download/2.24.1/allure-2.24.1.tgz
        tar -zxvf allure-2.24.1.tgz
        sudo mv allure-2.24.1 /opt/allure
        sudo ln -s /opt/allure/bin/allure /usr/bin/allure
        allure --version
        
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run tests with Allure
      run: |
        pytest test_cars_data.py --alluredir=allure-results -v
        
    - name: Generate Allure Report
      if: always() 
      run: |
        allure generate allure-results --single-file --clean -o allure-report
        
    - name: Upload Allure Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: allure-report/
        retention-days: 30  
        
 
    - name: Upload index.html
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-index-html
        path: allure-report/index.html
        retention-days: 30